# Flask Configuration
FLASK_APP=run.py
FLASK_ENV=development

# Secret Key (change this in production!)
SECRET_KEY=your-super-secret-key-change-this

# MongoDB Configuration
# Local MongoDB
MONGO_URI=mongodb://localhost:27017/smart_job_tracker

# OR MongoDB Atlas (Cloud)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/smart_job_tracker

# Server Configuration
HOST=0.0.0.0
PORT=5000
